<script>
import TextArea from './components/TextArea.vue'
import ButtonTweet from './components/ButtonTweet.vue'
import CharCounter from './components/CharCounter.vue'

export default {
  components: { TextArea, ButtonTweet, CharCounter },
  data() {
    return {
      message: ''
    }
  }
}
</script>

<template>
  <h1>Escriu la teva opinió</h1>
  <!-- <h1>{{ message }}</h1> -->
  <TextArea v-model:message="message" />
  <ButtonTweet v-model:message="message"/>
  <CharCounter v-model:message="message"/>

</template>