<template>
    <p>Caracters restants: {{280 - message.length}}</p>
    <br>
    <h4 :class="this.actualClass">Limit</h4>
</template>

<script>
export default {
    props: ['message'],
    data(){
        return { actualClass: "limit1" }
    },
    watch: {
        message: function (val) {
            this.getClass();
        }
    },
    methods: {
        getClass: function() {
            if (this.message.length > 0 && this.message.length < 100) {
                this.actualClass = "limit1";
            } else if (this.message.length > 100 && this.message.length < 200) {
                this.actualClass = "limit2";
            } else if (this.message.length > 200 && this.message.length < 800){
                this.actualClass = "limit3";
            }
        }
    }
}
</script>

<style>
    .limit3 {
        color: red;
    }

    .limit2 {
        color: orange;
    }

    .limit1 {
        color:  green;
    }
</style>