<script>
export default {
  props: ['message'],
  emits: ['update:message']
}
</script>

<template>
  <div class="form-group">
    <textarea
      class="form-control"
      rows="10"
      maxlength="280"
      type="text"
      :value="message"
      @input="$emit('update:message', $event.target.value)"
    />
  </div>
</template>